
<!DOCTYPE html>
<html>
  <head>
    <Title>Verses</Title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/main.css">

    <script src="/resources/main.js"></script>
  </head>

  <body>

      <div id="header">
        <div class="tab" id="verses-tab">
          <a href="#">Verses</a>
        </div>
        <div class="tab" id="pop-tab">
          <a href="#">Popular Lyrics</a>
        </div>
        <div class="tab" id="about-tab">
          <a href="#">About</a>
        </div>
      </div>
      <div id="header-spacer"></div>
      <div id="page-container">

        <div id="main">

            <div class="section" id = "section-left">
              <p><span class="highlight-1">"</span><span class="highlight-2">I rock, I roll, I bloom, I glow</span><span class="highlight-1">"</span></p>

              <p class="lyric-info"><i>Where This Flower Blooms</i></p>
              <p class="lyric-info">Tyler, the Creator</p>
            </div>

            <div class="section" id = "section-right">
              <p><span class="highlight-1">"</span><span class="highlight-2">Ain't nobody praying for me</span><span class="highlight-1">"</span></p>

              <p class="lyric-info"><i>DAMN.</i></p>
              <p class="lyric-info">Kendrick Lamar</p>
            </div>
        </div>

        <div id="footer">
          <div id="footer-spacer">

          </div>
          <div id="footer-body">
              <div class = "f_tab" id="f_head">
                <h4>I'm Bucking Fuilding.</h4>
              </div>
              <div class = "f_tab">
                <h4><a href="#">Contact Me</a></h3>
              </div>
          </div>
        </div>

      </div>

  </body>
</html>
