
<!DOCTYPE html>
<html>
  <head>
    <Title>Verses</Title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/main.css">

    <script src="/resources/main.js"></script>
  </head>

  <body>

      <div id="header">
        <div class="tab" id="verses-tab">
          <a href="#">Verses</a>
        </div>
        <div class="tab" id="pop-tab">
          <a href="#">Popular Lyrics</a>
        </div>
        <div class="tab" id="about-tab">
          <a href="#">About</a>
        </div>
      </div>
      <div id="header-spacer"></div>
      <div id="page-container">

        <div id="main">

            <div class="section" id = "section-left">
              <p id = "lyric-left"><span class="highlight-1">"</span><span class="highlight-2" id="lyric-span-left">{{lyric_left}}</span><span class="highlight-1">"</span></p>
              <p class="lyric-info" id="song-name-left"><i id="song-span-left">{{song_name_left}}</i></p>
              <p class="lyric-info" id="artist-name-left">{{artist_name_left}}</p>
              <p class="lyric-info" id="feat-artist-left">
                {% if feat_artist_left %}
                  (ft. {{feat_artist_left}})
                {%endif%}
              </p>
            </div>

            <div class="section" id = "section-right">
              <p id="lyric-right" ><span class="highlight-1">"</span><span class="highlight-2" id="lyric-span-right">{{lyric_right}}</span><span class="highlight-1">"</span></p>
              <p class="lyric-info" id="song-name-right"><i id="song-span-right">{{song_name_right}}</i></p>
              <p class="lyric-info" id="artist-name-right">{{artist_name_right}}</p>
              <p class="lyric-info" id="feat-artist-right">
                {% if feat_artist_right %}
                (ft. {{feat_artist_right}})
                {%endif%}
              </p>
            </div>
        </div>

        <div id="footer">
          <div id="footer-spacer">

          </div>
          <div id="footer-body">
              <div class = "f_tab" id="f_head">
                <h4><a href="#">Feedback Welcome!</a></h4>
              </div>
              <div class = "f_tab">
                <h4><a href="#">Contact Me</a></h3>
              </div>
          </div>
        </div>

      </div>

  </body>
</html>
