<!DOCTYPE html>
<html>

  <head>
    <Title>Popular Verses</Title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/popular.css">
    <script src="/resources/popular.js"></script>
  </head>

  <body>

    <div id="header">
      <div class="tab" id="verses-tab">
        <!-- <a href="#">Verses</a> -->
        {{main_page_button}}
      </div>
      <div class="tab" id="pop-tab">
        <!-- <a href="#">Popular Lyrics</a> -->
        {{popular_page_button}}
      </div>
      <div class="tab" id="about-tab">
        <!-- <a href="#">About</a> -->
        {{submit_lyrics_page_button}}
      </div>
    </div>



    <div id="page-container">

      <div id="main">

        <div class="box">
            <div class="pad">
              <h1>Most Popular Verses</h1>
            </div>
            <div class="tabs">
              <div class="tab-one-line">
                One-Line Lyrics
              </div>
            </div>
            <div class="lyric-list">
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "Grab life by the horns when I whip the Lambo"
                  </div>
                  <div class="rank">
                    1.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    GOLD
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    BROCKHAMPTON
                  </div>
                  <div class="feat_artist">

                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "Black excellence baby, you gon' let 'em see"
                  </div>
                  <div class="rank">
                    2.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    Legacy
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    Jay-Z
                  </div>
                  <div class="feat_artist">

                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "I rock, I roll, I bloom, I glow (I glow)"
                  </div>
                  <div class="rank">
                    3.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    Where This Flower Blooms
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    Tyler, The Creator
                  </div>
                  <div class="feat_artist">
                    (ft. Frank Ocean)
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "Ain't nobody prayin' for me"
                  </div>
                  <div class="rank">
                    4.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    FEEL.
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    Kendrick Lamar
                  </div>
                  <div class="feat_artist">

                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "I see both sides like Chanel"
                  </div>
                  <div class="rank">
                    5.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    Chanel
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    Frank Ocean
                  </div>
                  <div class="feat_artist">

                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "Please don't touch my Raf"
                  </div>
                  <div class="rank">
                    6.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    RAF
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    A$AP Mob
                  </div>
                  <div class="feat_artist">
                    (ft. A$AP Rocky, Playboi Carti, Quavo, Lil Uzi Vert &amp; Frank Ocean)
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "How I'm gon' move at your pace? I'm busy settin' the tone"
                  </div>
                  <div class="rank">
                    7.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    GUMMY
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    BROCKHAMPTON
                  </div>
                  <div class="feat_artist">

                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "Sucks you can't gas me up, shout out to Elon"
                  </div>
                  <div class="rank">
                    8.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    911 / Mr.Lonely
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    Tyler, The Creator
                  </div>
                  <div class="feat_artist">
                    (ft. Steve Lacy &amp; Frank Ocean)
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "I travel through your mind and to your spine like siren drills"
                  </div>
                  <div class="rank">
                    9.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    Infinite
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    Eminem
                  </div>
                  <div class="feat_artist">

                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "I'm not a businessman; I'm a business, man!"
                  </div>
                  <div class="rank">
                    10.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    Diamonds From Sierra Leone (Remix)
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    Kanye West
                  </div>
                  <div class="feat_artist">
                    (ft. Jay-Z)
                  </div>
                </div>

              </div>
            </div>
        </div>

      </div>

      <div class="footer">
        <div class="footer-box">
          <div class="top-footer-label">
            <a href=#>Feedback Welcome!</a>
          </div>
          <div class="bottom-footer-label">
            eliasd@stanford.edu
          </div>
        </div>
      </div>

    </div>

    </div>

  </body>

</html>
