<!DOCTYPE html>
<html>

  <head>
    <Title>Popular Verses</Title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/popular.css">
    <script src="/resources/popular.js"></script>
  </head>

  <body>

    <div id="header">
      <div class="tab" id="verses-tab">
        <!-- <a href="#">Verses</a> -->
        {{main_page_button}}
      </div>
      <div class="tab" id="pop-tab">
        <!-- <a href="#">Popular Lyrics</a> -->
        {{popular_page_button}}
      </div>
      <div class="tab" id="about-tab">
        <!-- <a href="#">About</a> -->
        {{submit_lyrics_page_button}}
      </div>
    </div>



    <div id="page-container">

      <div id="main">

        <div class="box">
            <div class="pad">
              <h1>Most Popular Verses</h1>
            </div>
            <div class="tabs">
              <div class="tab-one-line">
                One-Line Lyrics
              </div>
            </div>
            <div class="lyric-list">
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_1}}"
                  </div>
                  <div class="rank">
                    1.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_1}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_1}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_1}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_2}}"
                  </div>
                  <div class="rank">
                    2.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_2}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_2}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_2}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_3}}"
                  </div>
                  <div class="rank">
                    3.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_3}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_3}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_3}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_4}}"
                  </div>
                  <div class="rank">
                    4.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_4}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_4}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_4}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_5}}"
                  </div>
                  <div class="rank">
                    5.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_5}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_5}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_5}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_6}}"
                  </div>
                  <div class="rank">
                    6.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_6}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_6}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_6}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_7}}"
                  </div>
                  <div class="rank">
                    7.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_7}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_7}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_7}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_8}}"
                  </div>
                  <div class="rank">
                    8.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_8}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_8}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_8}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_9}}"
                  </div>
                  <div class="rank">
                    9.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_9}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_9}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_9}}
                  </div>
                </div>

              </div>
              <div class="lyric">
                <div class="text-container">
                  <div class="text-label">
                    lyric:
                  </div>
                  <div class="text">
                    "{{lyric_10}}"
                  </div>
                  <div class="rank">
                    10.
                  </div>
                </div>

                <div class="song-container">
                  <div class="song-label">
                    song:
                  </div>
                  <div class="song">
                    {{song_10}}
                  </div>
                </div>
                <div class="artist-container">
                  <div class="artist-label">
                    artist:
                  </div>
                  <div class="artist">
                    {{artist_10}}
                  </div>
                  <div class="feat_artist">
                    {{feat_artist_10}}
                  </div>
                </div>

              </div>
            </div>
        </div>

      </div>

      <div class="footer">
        <div class="footer-box">
          <div class="top-footer-label">
            <a href=#>Feedback Welcome!</a>
          </div>
          <div class="bottom-footer-label">
            eliasd@stanford.edu
          </div>
        </div>
      </div>

    </div>

    </div>

  </body>

</html>
