<!DOCTYPE html>
<html>

  <head>
    <Title>Popular Verses</Title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/resources/submit.css">
    <script src="/resources/submit.js"></script>
  </head>

  <body>

    <div id="header">
      <div class="tab" id="verses-tab">
        {{main_page_button}}
      </div>
      <div class="tab" id="pop-tab">
        {{popular_page_button}}
      </div>
      <div class="tab" id="about-tab">
        {{submit_lyrics_page_button}}
      </div>
    </div>

    <div id="page-container">
      <div class="center-pane">
        <div class="box">

          <div class="pad">
            <h1>Submit Your Favorite One-Line Lyric!</h1>
          </div>
          <div class="form-list">

            <div class="form">
              <div class="search-label">
                artist:
              </div>
              <div class="search-bar">
                <input type="text" name="artist-query">
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

  </body>

</html>
